.color-table{
  background: #1976d2;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar.active {
  width: 250px;
}

.sidebar-content {
  padding: 20px;
}

.sidebar h4 {
  color: white;
}

.sidebar label {
  display: block;
  margin-bottom: 10px;
  color: white;
}
