<!--&lt;!&ndash;<div class="card" style="width: 1200px">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;    <table   class="table table-bordered">&ndash;&gt;-->
<!--&lt;!&ndash;      <thead class="bg-light text-dark">&ndash;&gt;-->
<!--&lt;!&ndash;      <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <td><input type="checkbox" id="headerCheckbox" (change)="toggleAllCheckboxes($event)">FeatureName</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>View</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>Add</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>Edit</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>Active</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>Delete</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>Export</td>&ndash;&gt;-->
<!--&lt;!&ndash;      </tr>&ndash;&gt;-->
<!--&lt;!&ndash;      </thead>&ndash;&gt;-->
<!--&lt;!&ndash;      <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;      <ng-container *ngFor="let item of Invoiceheader; let i=index">&ndash;&gt;-->
<!--&lt;!&ndash;        <tr class="color-table">&ndash;&gt;-->
<!--&lt;!&ndash;          <td>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="checkbox" [checked]="isMainTaskSelected(i)" (change)="toggleMainTask($event, i)">&ndash;&gt;-->
<!--&lt;!&ndash;            {{item.FeatureName}}&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td><input type="checkbox" [checked]="isAllChecked(i, 'View')" (change)="toggleAll($event, i, 'View')"></td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td><input type="checkbox" [checked]="isAllChecked(i, 'Add')" (change)="toggleAll($event, i, 'Add')"></td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td><input type="checkbox" [checked]="isAllChecked(i, 'Edit')" (change)="toggleAll($event, i, 'Edit')"></td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td><input type="checkbox" [checked]="isAllChecked(i, 'Active')" (change)="toggleAll($event, i, 'Active')"></td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td><input type="checkbox" [checked]="isAllChecked(i, 'Delete')" (change)="toggleAll($event, i, 'Delete')"></td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td><input type="checkbox" [checked]="isAllChecked(i, 'Export')" (change)="toggleAll($event, i, 'Export')"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr *ngFor="let subtask of item.subtasks; let j=index">&ndash;&gt;-->
<!--&lt;!&ndash;          <td>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="checkbox" [checked]="isAllSubtaskChecked(i, j)" (change)="toggleSubtask($event, i, j)">&ndash;&gt;-->
<!--&lt;!&ndash;            {{subtask.FeatureName}}&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td><input type="checkbox" [checked]="subtask.View" (change)="toggleCheckbox($event, i, j, 'View')"></td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td><input type="checkbox" [checked]="subtask.Add" (change)="toggleCheckbox($event, i, j, 'Add')"></td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td><input type="checkbox" [checked]="subtask.Edit" (change)="toggleCheckbox($event, i, j, 'Edit')"></td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td><input type="checkbox" [checked]="subtask.Active" (change)="toggleCheckbox($event, i, j, 'Active')"></td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td><input type="checkbox" [checked]="subtask.Delete" (change)="toggleCheckbox($event, i, j, 'Delete')"></td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td><input type="checkbox" [checked]="subtask.Export" (change)="toggleCheckbox($event, i, j, 'Export')"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;      </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;    </table>&ndash;&gt;-->




<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->




<!--<div class="card" style="width: 1200px">-->
<!--  <div class="card-body">-->
<!--    <button class="btn btn-primary" (click)="toggleFilter()">Filter</button>-->
<!--    <table class="table table-bordered">-->
<!--      <thead class="bg-light text-dark">-->
<!--      <tr>-->
<!--        <td><input type="checkbox" id="headerCheckbox" (change)="toggleAllCheckboxes($event)">FeatureName</td>-->
<!--        <td>View</td>-->
<!--        <td>Add</td>-->
<!--        <td>Edit</td>-->
<!--        <td>Active</td>-->
<!--        <td>Delete</td>-->
<!--        <td>Export</td>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <ng-container *ngFor="let item of Invoiceheader; let i=index">-->
<!--        <tr class="color-table" *ngIf="item.visible">-->
<!--          <td>-->
<!--            <input type="checkbox" [checked]="isMainTaskSelected(i)" (change)="toggleMainTask($event, i)">-->
<!--            {{item.FeatureName}}-->
<!--          </td>-->
<!--          <td><input type="checkbox" [checked]="isAllChecked(i, 'View')" (change)="toggleAll($event, i, 'View')"></td>-->
<!--          <td><input type="checkbox" [checked]="isAllChecked(i, 'Add')" (change)="toggleAll($event, i, 'Add')"></td>-->
<!--          <td><input type="checkbox" [checked]="isAllChecked(i, 'Edit')" (change)="toggleAll($event, i, 'Edit')"></td>-->
<!--          <td><input type="checkbox" [checked]="isAllChecked(i, 'Active')" (change)="toggleAll($event, i, 'Active')"></td>-->
<!--          <td><input type="checkbox" [checked]="isAllChecked(i, 'Delete')" (change)="toggleAll($event, i, 'Delete')"></td>-->
<!--          <td><input type="checkbox" [checked]="isAllChecked(i, 'Export')" (change)="toggleAll($event, i, 'Export')"></td>-->
<!--        </tr>-->
<!--        <tr *ngFor="let subtask of item.subtasks; let j=index" *ngIf="item.visible">-->
<!--          <td>-->
<!--            <input type="checkbox" [checked]="isAllSubtaskChecked(i, j)" (change)="toggleSubtask($event, i, j)">-->
<!--            {{subtask.FeatureName}}-->
<!--          </td>-->
<!--          <td><input type="checkbox" [checked]="subtask.View" (change)="toggleCheckbox($event, i, j, 'View')"></td>-->
<!--          <td><input type="checkbox" [checked]="subtask.Add" (change)="toggleCheckbox($event, i, j, 'Add')"></td>-->
<!--          <td><input type="checkbox" [checked]="subtask.Edit" (change)="toggleCheckbox($event, i, j, 'Edit')"></td>-->
<!--          <td><input type="checkbox" [checked]="subtask.Active" (change)="toggleCheckbox($event, i, j, 'Active')"></td>-->
<!--          <td><input type="checkbox" [checked]="subtask.Delete" (change)="toggleCheckbox($event, i, j, 'Delete')"></td>-->
<!--          <td><input type="checkbox" [checked]="subtask.Export" (change)="toggleCheckbox($event, i, j, 'Export')"></td>-->
<!--        </tr>-->
<!--      </ng-container>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="sidebar" [ngClass]="{'active': isFilterOpen}">-->
<!--  <div class="sidebar-content">-->
<!--    <h4>Filter Rows</h4>-->
<!--    <div *ngFor="let item of Invoiceheader; let i=index">-->
<!--      <label>-->
<!--        <input type="checkbox" [(ngModel)]="item.visible">-->
<!--        {{ item.FeatureName }}-->
<!--      </label>-->
<!--    </div>-->
<!--    <button class="btn btn-primary" (click)="applyFilter()">Apply</button>-->
<!--  </div>-->
<!--</div>-->


